* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.appWrapper {
    width: 100vw;
    min-height: 100vh;
    max-height: 100vh;
    overflow: hidden;
    display: flex;
}

.contentWrapperBlack {
    height: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.43);
    border-top: 1px solid rgba(255, 255, 255, 0.43);
}

.contentWrapperWhite {
    height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.39);
    border-top: 1px solid rgba(0, 0, 0, 0.39);
}

.whiteTheme {
    background: white;
    color: black;
}

.blackTheme {
    background: black;
    color: white;
}